<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </div>
  <div class="field">
    <%= f.label :org_type %><br>
    <%=f.select :org_type, ["Show room", "Service", "Dealer"]%>
  </div>
  <div class="field">
    <%= f.label :pricing_policy %><br>
    <%=f.select :pricing_policy, ["Flexible", "Fixed", "Prestige"]%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
