<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Public name:</strong>
  <%= @organization.public_name %>
</p>

<p>
  <strong>org_type:</strong>
  <%= @organization.org_type %>
</p>

<p>
  <strong>Pricing policy:</strong>
  <%= @organization.pricing_policy %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
